<header class="wrapper">
  <h1 id="site-title"><a href="index.html">maze88.dev</a></h1>

  <nav>
    <ul id="site-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="blog.html">Tech Blog</a></li>
      <li><a href="links.html">Links</a></li>
      <li><a href="photography.html">Photography</a></li>
    </ul>
  </nav>
</header>

<div id="colorscheme">
  <a id="colorscheme-toggle">
    <i class="fas fa-fw fa-moon"></i><i class="fas fa-fw fa-toggle-on" id="colorscheme-toggle-switch"></i><i class="fas fa-fw fa-sun"></i>
  </a>
  <script src="res/colorscheme.js"></script>
</div>
